#accordion { 
  box-shadow: 0px 2px 30px black; 
}

.card,
.card-header {
  border-width: 0px;
}

.card-header { 
  background-color: transparent; 
  padding-left: 15px;	
  padding-right: 15px;		
  padding-top: 0px;
  padding-bottom: 0px;
  
  .card-header-row {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  } 
}

.card {
  word-wrap: normal;
  border-bottom: 1px solid gray;
  border-radius: 0px;
}


.limited-col-left {
    padding-left: 50px;
}
.limited-col-right {
    padding-right: 50px;
}

#items .col-4 {
    margin-bottom: 20px;
}

.row.item , 
.row.service { 
  align-items: center; 
}

.row-basket {

  &.card { 
    cursor: pointer;
  }

  .service-price { 
    text-align: right; 
  } 
  
  .fa-times:not(.clickable) {
    color: #e6e6e6;
  }
  
  .fa-times:hover {
    cursor: pointer; 
    color: red; 
  } 
  
  .row-basket-icon {
    font-size: 25px !important;
  }

  .item {  
    .item-name {
      padding-left: 15px;
	  vertical-align: middle;
    }
	.item-img  {
      margin-left: 0px;	
      width: 47px;
      height: 31px;	  
	}
	.item-price {
      text-align: right;
    }
  }  
  .service {  
    height: 31px;
	
    .service-name {
      padding-left: 0px;
    } 
    .service-img {
      width: 20%;
    }
	.service-price {
	
	}
  }
   
}

.details-section {
  overflow: hidden;
  clear: both;
  
  .detail-button-col {
      padding-top: 50px;
      padding-bottom: 50px;
      text-align: center;
  }   
  
  &.collapse {
    padding-bottom: 0px;
    margin-bottom: 0px;  
  }
  
  .details-container {
    .title {
      padding-top: 20px;
      padding-bottom: 35px;	
	}
    .service-img  { 
      width: 100%; 
    }
    .item-img { 
      width: 100%; 
    }
    .list-group-item {
      text-align: left;
      padding-left: 0px;
      border-width: 0px;
      padding-top: 2px;
      padding-bottom: 2px;
	    &.property-list {		
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom-width: 1px;
            border-bottom: 1px solid #e4e4e4;
            border-top-width:0px;
	        border-left-width:0px;
	        border-right-width:0px;
		    margin-bottom: 0px;				
	          .property {
		         font-style: italic;
		      }			  
	    }
	    &.property-list-no-un {		
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom-width: 1px;
            border-bottom: 1px solid rgba(0,0,0,0);
            border-top-width: 0px;
            border-left-width: 0px;
            border-right-width: 0px;
            margin-bottom: 0px;			
	          .property {
		         font-style: italic;
		      }	  
	    }
        .value {
		  white-space: nowrap;
		}		
		.sub-title {
          border-width: 0px;
          margin-top: 10px;
          font-size: 14px;
          font-weight: bold;
          color: gray;
          margin-top: 14px;
          margin-bottom: 4px;
        }
		
		
    }	
  } 
}

.total-row {

  border-width: 0px;
  &.card.row-basket {
    cursor: default;
  }
  .fa-cart-plus:hover {
    cursor:pointer; 
    color: red; 
  } 
  .item-price { 
    text-align: right;
	font-weight: bold;
  }
}

