
.shop { 
   
  .shop-button-col {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  } 
  .arrow-icon {
    width: 15px;
    height: 15px;
    display: block;
  }
  .carousel-control-next-icon1 {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='RED' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  .carousel-control-prev-icon1 {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='RED' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  } 
  
  .item-section , 
  .service-section { 
     padding-top: 12px;  
  } 
  
  .item-section {   

    .title {
      padding-top: 20px;
      padding-bottom: 35px;	
	}
	
	.brands {	
	  padding-bottom: 0px;
   
	  .carousel {
	    border-bottom: 1px solid #d7d2d2;
		padding-bottom: 10px;
	  }	 
	  
	  .brand-name-cont {	  
	    padding-left: 30px;
        padding-right: 30px;
		
	    .brand-name {
          text-align: center;
          font-weight: bold;
          text-transform: capitalize;

          border-radius: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
          background-color: #ffffff;
          color: gray;
          transition: color 200ms linear, background-color 200ms linear;
          margin-left: 2px;
          margin-right: 2px;		  
		}
		.brand-name:hover { 
          background-color: #3899c6;
          color: white;		
		}
        .brand-name.choosen {
          background-color: #3899c6;
          color: white;
        } 	   		
	  }	
	  
	}
	
	.items {
	
	  padding-bottom: 0px;
      min-height: 414px;
      height: auto;	  
	  .carousel {
	    border-bottom: 1px solid #d7d2d2;
		padding-top: 15px;
		padding-bottom: 15px;
        min-height: 412px;
        height: auto;		
	      .carousel-inner {
		     min-height: 380px;
		  }		
	  }
	  
	  .item-slot {
        border: 1px solid rgba(1,1,1,0);
        padding: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
		padding-bottom: 5px;
		height: 123px;
		  .item-model {
            font-weight: bold;           
			padding-top: 0px;
		  }
	  }
      .item-slot:hover {
         border: 1px solid #3591f2;
         cursor: pointer;
      }
	  
	  .item-slot {        
    	border-width: 0px;
        border-radius: 10px;
        padding: 2px;
		color: gray;
      }
      .item-slot:hover {
        border: 0px solid rgba(0,0,0,0);
      }
      .item-slot.choosen {     
        border: 0px solid #3591f2;
		color: #1ea9cf;
      }
      .item-slot.choosen .item-view {      
        border: 1px solid #3591f2;      
      }	 
      #carouselitem .carousel-inner { 
        min-height: 380px;
      }	 
      .item-view {
      
          border: 1px solid rgba(0,0,0,0);
          padding: 8px;
          height: 100%;
          border-radius: 10px;
          padding-bottom: 5px;
      }
      .item-view:hover {
      
          border: 1px solid #3591f2;
          padding: 8px;
          height: 100%;
          border-radius: 10px;
          padding-bottom: 5px;
      }		  
	}
	
	.colors {		
	  padding-bottom: 0px;	 
	  
	  .carousel {
		border-bottom: 1px solid #d7d2d2;	  
		padding-top: 15px;
		padding-bottom: 15px;	  
	  }	  
	  .outer-dot {	 	  
        height: 35px;
        width: 35px;
        background-color: #bbb;
        border-radius: 50%;
        border: 1px solid black;
	    margin: auto; 
		&.choosen  { 
          background-color:red;
          border: 1px solid red;
        }
        .dot {
          height: 25px;
          width: 25px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          MARGIN: AUTO;		  
		}
	  }
      .outer-dot {		 
         border-radius: 0px;
         background-color: transparent;
         border: 1px solid rgba(0, 0, 0, 0);
         transform: skew(-20deg,0deg);
         padding: 0px;
         transform: skew(20deg,0deg);
         width: 35px;	
         height: 50px;		 	 
         .dot {			 
             border-radius: 0px;
             display: inline-block;
             MARGIN: AUTO;
             border: 2px solid #4d4b4b;
             width: 35px;
             height: 50px;			 			 
         }	 
      }	
      .outer-dot:hover {
         background-color: transparent;
         border: 1px solid #00dbff;
         cursor:pointer;
      }	  
      .outer-dot.choosen {
         background-color: transparent;
         border: 1px solid #00dbff;
         transform: skew(0deg,0deg) scale(1.3,1.3);
         position: relative;
         z-index: 10000;		 
      }		  
	}
	
  }

  
  
  .service-section  { 
  
    .title {
      padding-top: 20px;
      padding-bottom: 35px;	
	}  
	.brands {	
	  padding-bottom: 0px;
	  
      .brand-name-cont .brand-name.choosen {
        background-color: #3899c6;
        color: white;	
      }	   
	  .carousel {
	    border-bottom: 1px solid #d7d2d2;
		padding-bottom: 10px;
	  }	 	  
	  .brand-name-cont {	  
	    padding-left: 30px;
        padding-right: 30px;		
	      .brand-name {
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
            color: #716767;				
            padding-top: 5px;
            padding-bottom: 5px;
			border-radius: 5px;
            margin-left: 2px;
            margin-right: 2px;
			transition: color 200ms linear, background-color 200ms linear;
		  }	
		  .brand-name:hover {
            background-color: #3899c6;
            color: white;
          }
	  }		  
	}
    .services {	
	
	  padding-top: 7px;
	  
	  .carousel {
	    .carousel-inner {
		  min-height: 399px;
		}
	  }
      .item-pair {
        border: 1px solid #ddcfcf;
        border-radius: 10px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
		color: gray;
      }	  
      .item-pair:hover {
        border: 1px solid #3591f2;
        cursor: pointer;
      }
	  
      .choosen {
        border: 1px solid #3591f2;
		color: #1ea9cf;
      }  	
      #carousel-service { 
  	    padding-top: 5px;
  	  
        .carousel-inner { 
          min-height: 410px;
        }		  
  	  }	
      .service-duration {		
        margin: 0px;
        font-size: 18px;
        padding: 10px;
        font-weight: bold;
        font-style: italic; 
        background-color: transparent;  				
      }
      .service-slot {
        padding: 10px;
      }
	  
	}	
  }   

}


